@import '../../node_modules/vuetify/src/stylus/main'

.application--wrap
    width: 100% !important

main
    text-align: center
    padding: 0 !important

#map-component
    height: 100vh
    min-height: 800px
    display: flex
    flex-direction: column
